<ion-view view-title="Questão">
  <ion-content>
        <div class="pontuacao">
                10
            </div> 
    <div class="card">
       <div class="item item-text-wrap">
            <h2>Quem perdeu em casa de 7x1 na copa do mundo?</h2>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="'A'">Coreia do Norte</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">Irã</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">Brasil</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">Alemanha</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">Portugal</ion-radio>
          </ion-list>
        </div>  
    </div>
    <div class="item item-text-wrap">
        <h2>Você pode:</h2>
        <div class="row">
            <div class="col" >
                <button class="button button-balanced button-block ion-bug">
                    Pular
                </button>
            </div>
            <div class="col" > 
                <button class="button button-balanced button-block ion-chatbubbles">
                    Dica
                </button>
            </div>    
        </div>
        <div class="row " >
             <div class="col" >
                <button class="button button-balanced button-block ion-close">
                Eliminar
                </button>
            </div>
            <div class="col" >    
                <button class="button button-balanced button-block ion-help-circled">
                    Dobrar
                </button>
            </div>    
        </div>
    </div>
    <div class="card">
            <div class="item item-text-wrap">
            Sua Pontuação (até 50 pontos)
            </div>    
    </div>
    
    <div class="row botao-rodape">
            <div class="col" >
                <button class="button x button-balanced button-block ion-android-arrow-back">
                   
                </button>
            </div>
            <div class="col" > 
                <button class="button x button-balanced button-block ion-android-checkmark-circle">
                    
                </button>
            </div> 
            <div class="col" > 
                    <button class="button x button-balanced button-block ion-android-arrow-forward">
                       
                    </button>
                </div>   
        </div>
    </div>    
  </ion-content>
</ion-view>
